# Pattern programs in Python

### Traingle Pattern

In [18]:
def trianglepattern(n): 
      
    # number of spaces 
    k = 2*n - 2
  
    # loop to handle number of rows 
    for i in range(0, n): 
      
        # loop to handle number spaces 
        # change the value as per need
        for j in range(0, k): 
            print(end=" ") 
      
        # decreasing k after each loop 
        k = k - 1
      
        # loop to handle number of columns 
        # change the value as per need
        for j in range(0, i+1): 
          
            # printing stars 
            print("* ", end="") 
      
        # ending line after each row 
        print("\r") 

        # Driver Code 
n = 5
trianglepattern(n)

        *
       * *
      * * *
     * * * *
    * * * * *

### Inverted Traingle Pattern

In [22]:
def pattern(n):
    k = 2*n -2
    for i in range(n,-1,-1):
        for j in range(k,0,-1):
            print(end=" ")
        k = k +1
        for j in range(0, i+1):
            print("*", end=" ")
        print("\r")

pattern(5)

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

### Right Angled Triangle

In [57]:
def patternRT(n):
    for i in range(0,n):
        for j in range(0, i+1):
            print("* " , end="")
        print("\r")
patternRT(5)

*
* *
* * *
* * * *
* * * * *

### Reverse Right Angled Triangle

In [30]:
def traingleL(n):
    k = 2*n - 2
    for i in range(0, n):
        for j in range(0, k):
            print(end=" ")
        k = k - 2
        for j in range(0, i+1):
            print("* ", end="")
        print("\r") 
traingleL(5)

        *
      * *
    * * *
  * * * *
* * * * *

### 90 degree rotated triangle - Right

In [47]:
def triangle90R(n):
    for i in range (0, n):
        for j in range(0, i + 1):
            print("* ", end='')
        print("\r")
    for i in range (n, 0, -1):
        for j in range(0, i -1):
            print("* ", end='')
        print("\r")
triangle90R(5)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### 90 degree rotated triangle - Left

In [49]:
def triangle90L(n):
    k = 2 * n - 2
    for i in range(0, n-1):
        for j in range(0, k):
            print(end=" ")
        k = k - 2
        for j in range(0, i + 1):
            print("* ", end="")
        print("\r")
    k = -1
    for i in range(n-1,-1,-1):
        for j in range(k,-1,-1):
            print(end=" ")
        k = k + 2
        for j in range(0, i + 1):
            print("* ", end="")
        print("\r")
 
 
triangle90L(5)

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

### Hour Glass Pattern

In [55]:
def hourglass(n):
    for i in range (0,n):
        for j in range (0,i):
            print(" ", end="")
        for z in range (0,n-i):
            print("* ", end="")
        print("\r")
    for l in range (0,n-1):
        for m in range (0,n-2-l):
            print(" ", end="")
        for a in range (0,l+2):
            print("* ", end="")
        print("\r")
hourglass(10)

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

### Downward Right Angled Traingle

In [58]:
def triangleD(n):
    for i in range(n, -1, -1):
        for j in range(0, i + 1):
            print("* ", end="")
        print("\r")

triangleD(5)

* * * * * *
* * * * *
* * * *
* * *
* *
*

### Diamond Pattern

In [60]:
def diamond(n):
    k = 2 * n - 2
    for i in range(0, n):
        for j in range(0 , k):
            print(end=" ")
        k = k - 1
        for j in range(0 , i + 1 ):
            print("* ", end="")
        print("\r")
    k = n - 2
    for i in range(n , -1, -1):
        for j in range(k , 0 , -1):
            print(end=" ")
        k = k + 1
        for j in range(0 , i + 1):
            print("* ", end="")
        print("\r")

diamond(5)

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

### Pattern  - Pant

In [84]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*

### Pascal’s Triangle
[link](https://www.mathsisfun.com/pascals-triangle.html)

In [69]:
def pascal(n):
    for i in range(0, n):
        for j in range(0, i + 1):
            print(function(i, j)," ", end="")
        print()
    
def function(n, k):
    res = 1
    if (k > n - k):
        k = n - k
    for i in range(0, k):
        res = res * (n - i)
        res = res // (i + 1)
        
    return res

pascal(8)

1
1  1
1  2  1
1  3  3  1
1  4  6  4  1
1  5  10  10  5  1
1  6  15  20  15  6  1
1  7  21  35  35  21  7  1

In [76]:
def patternNum(n):
    for i in range(1,n):
        for j in range(1, i+1):
            print(j , end=" ")
        print("\r")
patternNum(5)

1
1 2
1 2 3
1 2 3 4

In [75]:
def patternNum2(n):
    for i in range(1,n):
        for j in range(1, i+1):
            print(i , end=" ")
        print("\r")
patternNum2(5)

1
2 2
3 3 3
4 4 4 4

In [77]:
def alphatriangle(n):
    x = 65
    for i in range(0, n):
        ch = chr(x)
        x += 1
        for j in range(0, i + 1):
            print(ch, end=" ")
        print("\r")

alphatriangle(5)

A
B B
C C C
D D D D
E E E E E

In [79]:
rows = 5
b = 0
for i in range(rows, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print('\r')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

### Inverted Triangle with same number

In [80]:
rows = 5
num = rows
for i in range(rows, 0, -1):
    for j in range(0, i):
        print(num, end=' ')
    print("\r")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

### Inverted Triangle with descending order of numbers

In [81]:
rows = 5
for i in range(rows, 0, -1):
    num = i
    for j in range(0, i):
        print(num, end=' ')
    print("\r")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

### Traingle with numbers in reverse order

In [82]:
rows = 6
for row in range(1, rows):
    for column in range(row, 0, -1):
        print(column, end=' ')
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

### Display 1 to 10 number in triangle pattern

In [83]:
currentNumber = 1
rows = 4  # Rows you want in your pattern
stop = 2
for i in range(rows):
    for column in range(1, stop):
        print(currentNumber, end=' ')
        currentNumber += 1
    print("")
    stop += 1

1
2 3
4 5 6
7 8 9 10

### Pattern with alternate numbers

In [85]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

### Pattern with Even numbers

In [86]:
rows = 5
LastEvenNumber = 2 * rows
evenNumber = LastEvenNumber
for i in range(1, rows+1):
    evenNumber = LastEvenNumber
    for j in range(i):
        print(evenNumber, end=' ')
        evenNumber -= 2
    print("\r")

10
10 8
10 8 6
10 8 6 4
10 8 6 4 2